.dualScroll{
	height:100%;
}


.centerView{
	display:block;
	padding-top:10%;
	height:60%;
}


.leftPane{
	position:absolute;
	left:15%;
	width:28%;
	height:60%;
	background-color:green;
	display:block;
	
}

.midLock{
	position:absolute;
	width:4%;
	left:48%;
	height:60%;
	background-color:red;
	display:block;
}

.rightPane{
	position:absolute;
	right:15%;
	width:28%;
	height:60%;
	background-color:green;
	display:block;
	overflow:hidden;
}