body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

table
	border-collapse: collapse
	th 
		padding: 5px 10px
		border: 2px solid black
	td
		padding: 5px 10px
		border: 2px solid black

form 
	label
		padding: 5px 10px