body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
table {
  border-collapse: collapse;
}
table th {
  padding: 5px 10px;
  border: 2px solid #000;
}
table td {
  padding: 5px 10px;
  border: 2px solid #000;
}
form label {
  padding: 5px 10px;
}
