/*
	dialog 
 */
#dialog-wrapper {
	position: fixed;
	width: 400px;
	height: 180px;
	padding: 5px;
	background: green;
}

#dialog-head {
	height: 30px;
}

#dialog-content {
	width: 394px;
	height: 100px;
	resize: none;	
}

#dialog-buttons {
	float: right;
	margin-top: 8px;
}

 /*
	Banner 
  */

#banner-wrapper {
 	position: fixed;
 	top: -32px;
 	width: 100%;
 	height: 32px;
 	/*line-height: 32px;*/
 	background: green;
}


#banner-container {

}


#banner-start-button {
	position: absolute;
	right: 10px;
	top: 3px;
}


/*
 	选则过程中的各状态
 */

img.ad-selecting, embed.ad-selecting, object.ad-selecting{
	-moz-opacity:0.3; 
	filter:alpha(opacity=30);
	opacity:0.3;
}

 .ad-selecting {
 	background: yellow;	
 }

 img.ad-selected,embed.ad-selected,object.ad-selected {
	-moz-opacity:0.3; 
	filter:alpha(opacity=30)
	opacity:0.3;

 }
 .ad-selected {
 	background: pink;
 	border: 2px solid red;
 }