doctype
html
	head
		title Add new customer
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h3 Add Customer
		form(id='form', method='post', action='/customer/create', enctype='multipart/form-data')			
			label(for='name') Name
			input(type='text', id='name', name='name')
			label(for='email') Email
			input(type='email', id='email', name='email')
			label(for='telephone') Telephone
			input(type='tel', id='telephone', name='telephone')
			label(for='picture') picture 
			input(type='file', id='picture', name='picture')
			input(type='submit', value='Add Customer')