doctype
html
	head
		title Customer Detail
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h3 Detail  Customer
		p Name: #{customer.name}
		p Email: #{customer.email}
		p Telephone: #{customer.telephone}