doctype
html
	head
		title Add new customer
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h3 Edit Customer
		form(id='form', method='post', action='/customer/edit/#{customer.id}')			
			label(for='name') Name
			input(type='text', id='name', name='name', value='#{customer.name}')
			label(for='email') Email
			input(type='email', id='email', name='email', value='#{customer.email}')
			label(for='telephone') Telephone
			input(type='tel', id='telephone', name='telephone', value='#{customer.telephone}')
			input(type='submit', value='Update Customer')